# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# MySQL Database Configuration
DB_HOST=localhost
DB_USER=
DB_PASS=
DB_NAME=

# Application URL & Payment Gateway
APP_URL=https://kodyar24.ir
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=true
